# IM Folder is a temp folder of Siemens
# IM Folder can be deleted
# Tia portal will recreate the folders and files on the next compile
IM/SearchIndex/
IM/SPL/options

# This file holds the information of the last user that opened the project
# <User></User>
# <Computer></Computer>
# <Time></Time>
*.info

# this file is giving it a hard time
# in my opinion only PEData.plf and PEData.id are needed
# this file will only be used as long as the program is open
# once you close the program this file will be deleted and writen to the other files
System/~PEData.2
